/* about us */
#about-us h3 {
    font-weight: bold;
}

.au-header {
    color: var(--red-accent);
}

h3.au-header {
    font-size: var(--h3-size);
    border-bottom: 2px solid var(--red-accent);
}