/* colors  */
:root {
    --light-brown: #A18D6D;
    --brown: #703B3B;
    --blue: #9BB4C0;
    --tan: #E1D0B3;
    --bg-primary: var(--tan);
    --red-accent: var(--brown);
    --h3-size: 20px;
}

/* homepage */
body {
    background-color: var(--tan);
}

h1 {
    color: var(--brown);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body,
nav,
#recent,
#about-us,
#content {
    color: var(--brown);
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-brown {
    background-color: var(--light-brown);
}

.bg-light-brown .btn {
    /* makes brown sections have brown buttons */
    --bs-btn-color: var(--brown);
    --bs-btn-border-color: var(--brown);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--brown);
    --bs-btn-hover-border-color: var(--brown);
    --bs-btn-focus-shadow-rgb: 108, 79, 46;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--brown);
    --bs-btn-active-border-color: var(--brown);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--brown);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--brown);
    --bs-gradient: none;
}

.nav-link:hover,
a:hover {
    text-decoration: underline;
}